<div class="container mt-4 mb-4">
  <h5 class="titulo">Tabla de Documentos</h5>
  <hr class="border-2 border-top">

  <div class="d-flex justify-content-between">
    <form class=" d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar archivo" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active bg-success" aria-current="page">Añadir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page">Ver Eliminados</a>
      </li>
    </ul>
  </div>
  <hr class="border-2 border-top">
  <table class="table table-bordered text-center">

    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de Cargo</th>
        <th scope="col">Documento</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Documento 1</td>
        <td>2023-08-12</td>
        <td><a href="#">Documento.docx</a></td>
        <td><i class="fa-solid fa-pen-to-square text-primary fs-5"></i></td>
        <td><i class="fa-solid fa-trash text-danger fs-5"></i></td>
      </tr>

      <tr>
        <td>Documento 1</td>
        <td>2023-08-12</td>
        <td><a href="#">Documento.docx</a></td>
        <td><i class="fa-solid fa-pen-to-square text-primary fs-5"></i></td>
        <td><i class="fa-solid fa-trash text-danger fs-5"></i></td>
      </tr>


      <tr>
        <td>Documento 1</td>
        <td>2023-08-12</td>
        <td><a href="#">Documento.docx</a></td>
        <td><i class="fa-solid fa-pen-to-square text-primary fs-5"></i></td>
        <td><i class="fa-solid fa-trash text-danger fs-5"></i></td>
      </tr>


      <tr>
        <td>Documento 1</td>
        <td>2023-08-12</td>
        <td><a href="#">Documento.docx</a></td>
        <td><i class="fa-solid fa-pen-to-square text-primary fs-5"></i></td>
        <td><i class="fa-solid fa-trash text-danger fs-5"></i></td>
      </tr>

    </tbody>
  </table>
</div>